/* CSS Document */
body, main {background: rgb(0,0,0);}

footer {
    background:#444444;
    color: black;
}

.wrapper{
    background-image: url("/static/img/background.png");
    color: white;

}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: #A3C7D6;
}

.bloky div {background:rgb(216,191,216)}

h2,p {color: white}

button{
    background-color: white;
    color: black
}

button:hover {
    background-color: #A3C7D6;
}

