/* CSS Document */
body, main {background: rgb(18, 18, 18);}

footer {
    background:#3C415C;
    color: black;
}

.wrapper{
    background-image: url("/static/img/background.png");
    color: white;

}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: #A3C7D6;
}

h2,p {color: white}

button{
    background-color: white;
    color: black
}

button:hover {
    background-color: #A3C7D6;
}

