@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;600&display=swap');
/*/
ine pismo???
/*/

body{font-size:1.2vw; font-family: 'Roboto'; font-weight: 400;}

p {
    text-align:justify;
    margin:0 0 1vw 0;
    font-size: 1.5vw;
}

@media screen and (max-width: 576px) {
    body{
        font-size: 3vw;
    }
    p{
    font-size: 5vw;
    text-align: unset;
    margin: 10px;
    }
}

h1 {
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto';
}

nav ul li a {
    font-size: 1.5vw;
    font-weight: 700;
}
@media screen and (max-width: 576px) {
    nav ul li a{
    font-size: 5vw;
    font-weight: 1000;
    }

}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.headline{
    font-size:5vw;
    font-family: 'Roboto';
    font-weight: bold;
    animation: fadeIn 5s;
    font-weight: 800;
}
/*mobile*/
@media screen and (max-width: 576px) {
    .headline{
        font-size:50px;
        font-family: 'Roboto';
        font-weight: bold;
        animation: fadeIn 5s;
        font-weight: 800;
    }
}
button{
    font-size:1.5vw;
    font-family: 'Roboto';
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    button{
    font-size:4vw;
    font-family: 'Roboto';
    font-weight: 1000;
    }
}

.hoverwrap figcaption {
    font-size:5vw;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 800;
}
@media screen and (max-width: 576px) {
    .hoverwrap figcaption {
    font-size:7vw;
    }
}

.hoverwrap figcaption button {
    font-size:1vw;
}

@media screen and (max-width: 576px) {
    .hoverwrap figcaption button {
    font-size:4vw;
    }
}

.float-container figcaption {
    font-size:5vw;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 300;
    color: #fff;
}

@media screen and (max-width: 576px) {
    .float-container figcaption {
    font-size:8vw;
    margin:10px;
    }
}

@media screen and (max-width: 576px) {
    .float-container h1{
    font-size:5vw;
    text-align: unset;
    margin:10px;
    }
}

.loginbox, .registerbox{
    font-size:5vw;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 100;
}

.loginbox input[type="name"], input[type="password"], input[type="pohlavie"], .registerbox input[type="name"], input[type="password"], input[type="pohlavie"]{
    font-size: 1.5vw;
}
.register, .login{
    font-size: 1.5vw;
}


.loginbox a , .registerbox a{
    font-size: 1.5vw;
    text-decoration: none;
}

.loginbox label, .registerbox label{
    font-size: 2vw;
}
@media screen and (max-width: 576px) {
   .loginbox h1{
    font-size:6vw;
   }
    .loginbox label{
    font-size:6vw;
   }
    .loginbox input[type="name"], input[type="password"], input[type="pohlavie"], .registerbox input[type="name"], input[type="password"], input[type="pohlavie"]{
    font-size: 4vw;
    }
    .login{
    font-size: 4vw;
    }
    .login a{
    font-size: 4vw;
    }
    .registerbox h1{
    font-size:6vw;
   }
    .registerbox label{
    font-size: 3.5vw;
    }
    .register{
     font-size: 3.5vw;
    }
    .registerbox label{
    font-size: 4vw;
    }
}

.zakladny div p{
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
}

.zakladny div button{
    font-size: 2vw;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .zakladny div button{
    font-size:2vw;
    font-family: 'Roboto';
    font-weight: 1000;
    }
}

input{
    color: #e1e5f2;
    font-size:2vw;
}

@media screen and (max-width: 576px) {
    input{
        font-size:5vw;
    }
}