@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;600&display=swap');
body{font-size:1.2vw; font-family: 'Roboto'; font-weight: 400;}

p {
    text-align:justify;
    margin:0 0 1vw 0;
}

nav ul li a {
    font-weight: 800;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.headline{
    font-size:100px;
    font-family: 'Roboto';
    font-weight: bold;
    animation: fadeIn 5s;
    font-weight: 800;
}

button{
    font-size:0.8em;
    font-family: 'Roboto';
    font-weight: 800;
}