<footer>
    <div>
      <h3>
      xmelich5<br>
      xholbova<br>
      xbusek1<br>
      xzahorja
      </h3>
    </div>

    <div>
      <img class="logo2" src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
    </div>

    <div>
    <h3>
    Projekt Vyvoj webovych aplikaci<br>
    ZS 2022/2023
    </h3>
    </div>

</footer>
