{% block nav %}

    <div class="wrapper">
    <div class="headline"> PROXIMA CENTAURI B </div>

    <nav>
    <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
    <ul>
        <li><a href="{{url_for('index')}}">Domov</a></li>
    </ul>
    <button type="button">Prihlasenie</button></a>
    </nav>

    </div>

{% endblock%}