{% block nav %}

    <div class="wrapper">
    <div class="headline"> PROXIMA CENTAURI B </div>

     <div
        class="hamburger"
        onclick="document.getElementById('nav').classList.toggle('visible')">
    <span class="material-icons">menu</span>
    </div>

    <nav id="nav" onclick="document.getElementById('nav').classList.remove('visible')">
    <a href="{{url_for('index')}}"><img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="logo"></a>
    <ul>
        <li><a href="{{url_for('index')}}">Domov</a></li>
        <li><a href="{{url_for('view_about_us')}}">O projekte</a></li>
    </ul>
    <a href="{{url_for('view_login_page')}}"><button type="button">Prihlásenie</button></a>
    <a href="{{url_for('view_myprofile_page')}}"><button type="button">Profil</button></a>
    </nav>

    </div>

{% endblock%}