<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ProximaB</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/structure.css') }}" type="text/css">
    <link rel="stylesheet" href="/static/css/colors.css" type="text/css">
    <link rel="stylesheet" href="/static/css/text_style.css" type="text/css">
  </head>

  <body>
    <!-- Include navigation -->
    {% include '__smallnav.jinja' %}

    <!-- Render main content -->
    {% block content %}
    {% endblock %}

    <!-- Include footer -->
    {% include '__footer.jinja' %}
  </body>
</html>
