{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    <div class="float-container">
        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/colony4.jpg')}}">
        </div>

        <div class="sub-two-container">
        <h1>O projekte</h1><br>
        <p>Lorem ipsum dolor sit amet consectetuer sit neque augue Curabitur Vivamus.
        Ipsum at ridiculus Fusce lobortis amet ornare nonummy Ut eleifend.
        </p>

        <p>Porttitor Sed eleifend nulla risus Curabitur non pretium non amet semper.
        Orci Praesent In eget Ut odio parturient sed Morbi ut urna. Id libero malesuada neque malesuada nonummy et.
        </p>
        </div>
    </div>

    <div class="float-container">
        <div class="sub-two-container">
        <h1>Život na planéte</h1><br>
        <p>Lorem ipsum dolor sit amet consectetuer sit neque augue Curabitur Vivamus.
        Ipsum at ridiculus Fusce lobortis amet ornare nonummy Ut eleifend.
        </p>
        </div>

        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/home6.jpg')}}">
        </div>
    </div>

    <div class="float-container">
        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/planet_pic.jpg')}}">
        </div>

        <div class="sub-two-container">
        <h1>O planéte</h1><br>
        <p>Lorem ipsum dolor sit amet consectetuer sit neque augue Curabitur Vivamus.
        Ipsum at ridiculus Fusce lobortis amet ornare nonummy Ut eleifend.
        </p>

        <p>Porttitor Sed eleifend nulla risus Curabitur non pretium non amet semper.
        Orci Praesent In eget Ut odio parturient sed Morbi ut urna. Id libero malesuada neque malesuada nonummy et.
        </p>
        </div>
    </div>

<div class="float-container">
        <div class="sub-two-container">
        <h1>Život na lodi</h1><br>
        <p>Lorem ipsum dolor sit amet consectetuer sit neque augue Curabitur Vivamus.
        Ipsum at ridiculus Fusce lobortis amet ornare nonummy Ut eleifend.
        </p>
        </div>

        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/room.jpg')}}">
        </div>
</div>

</main>

{% endblock%}