{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    <div class="float-container">
        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/colony4.jpg')}}">
        </div>

        <div class="sub-two-container">
        <h1>O projekte</h1><br>
        <p>
        Náš projekt je zameraný na obnovu našej civilizácie a kolonizáciu novej, zatiaľ neobývanej planéty.
        </p>

        <p>
        Projekt vytvorili štyria špecializovaní odborníci, ktorí sa venovali prevádzke Premietnite veľa sily a celého srdca.
        </p>
        </div>
    </div>

    <div class="float-container">
        <div class="sub-two-container">
        <h1>Život na planéte</h1><br>
        <p>
        Pri pobyte na planéte musíte dodržiavať niektoré pravidlá. 
        Prvým a hlavným je zákaz kolonizátorov s rovnakým pohlavím a zároveň s rovnakým priezviskom, tj členov jednej rodiny, 
        potom sú všetky základne kontrolované vládcami, nad ktorými stojí jeden ultimátný vládca, 
        ktorý kontroluje celé fungovanie obyvateľov planéty.
        </p>
        </div>

        <div class="sub-two-container">
        <img id="ub_planete" class="img1" src="{{url_for('static', filename='img/home6.jpg')}}">
        </div>
    </div>

    <div class="float-container">
        <div class="sub-two-container">
        <img id="o_planete" class="img1" src="{{url_for('static', filename='img/planet_pic.jpg')}}">
        </div>

        <div class="sub-two-container">
        <h1 >O planéte</h1><br>
        <p>
        Planéta je veľmi rôznorodá, nájdete tu všetky biotps, prírodné javy a neuveriteľne krásnu faunu a flóru. 
        Táto pútavá scenéria všetkých bareze vás určite dojme k slzám.
        </p>

        <p>
        Keďže planéta sa nachádza v systéme troch hviezd, bude úžasné nielen pozorovať prostredie planéty, ale aj pôsobivú oblohu v noci aj vo dne.
        </p>
        </div>
    </div>

<div class="float-container">
        <div class="sub-two-container">
        <h1>Život na lodi</h1><br>
        <p>
        Obsadenie lode je len dočasné, ale keďže vzdialenosti medzi planétami nie sú malé, 
        máme pre vás samozrejme veľmi pohodlné ubytovanie na lodi so súkromnými kajutami alebo ponuku všetkých jedál, na ktoré si spomeniete.
        </p>
        </div>

        <div class="sub-two-container">
        <img id="ub_lodi" class="img1" src="{{url_for('static', filename='img/room.jpg')}}">
        </div>
</div>

</main>

{% endblock%}