{% extends '__smallmain.jinja' %}

{% block content %}

<main>

    <div class="zmenaUdajovAccount">
        <button id="changemeno" onclick="window.location.href='/account/changemeno'">Zmenit Meno</button>
        <button id="changeheslo" onclick="window.location.href='/account/changeheslo'">Zmenit heslo</button>
        <button id="changeemail" onclick="window.location.href='/account/changeemail'">Zmenit email</button>
    </div>
</main>

{% endblock%}