{% extends '__smallmain.jinja' %}

{% block content %}

<main>
<div class="profile">
        <img class="profile-img" src="/static/img/colony2.jpg" onclick="window.location.href='/account/changeprofilovka'"></img>
        <p class="profile-name" onclick="window.location.href='/account/changemeno'"> {{session['meno']}} {{session['priezvisko']}} </p>
        <p class="profil-name" onclick="window.location.href='/account/changeemail'"> {{session['email']}}
        <p class="profil-name" onclick="window.location.href='/account/changeheslo'"> {{session['email']}}

    </div>


</main>

{% endblock%}