{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    
    <div class="float-container">
        <img src="/static/img/minecraftmap.png" alt="basemap" usemap="#basemap" width="600" height="500">

        <map name="basemap">
            <area shape="rect" coords="300,155,450,380" href="/aboutus#o_planete" title="Merkur01" alt="Merkur01" target="_blank">
            <area shape="rect" coords="300,0,600,130" href="/aboutus#o_planete" title="Venusa02" alt="Venusa02" target="_blank">
            <area shape="rect" coords="0,75,280,250" href="/aboutus#o_planete" title="Zem03" alt="Zem03" target="_blank">
            <area shape="rect" coords="0,410,420,500" href="/aboutus#o_planete" title="Mars04" alt="Mars04" target="_blank">
            <area shape="rect" coords="0,0,250,50" href="/aboutus#o_planete" title="Jupiter05" alt="Jupiter05" target="_blank">
            <area shape="rect" coords="0,260,150,400" href="/aboutus#o_planete" title="Saturn06" alt="Saturn06" target="_blank">
            <area shape="rect" coords="500,150,600,350" href="/aboutus#o_planete" title="Uran07" alt="Uran07" target="_blank">
            <area shape="rect" coords="450,400,600,500" href="/aboutus#o_planete" title="Neptun08" alt="Neptun08" target="_blank">
        </map>
    </div>

</main>

{% endblock%}