{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    
    <div class="float-container">
        <img src="/static/img/minecraftmap.jpg" alt="basemap" usemap="#basemap" width="600" height="500">

        <map name="basemap">
        </map>
    </div>

</main>

{% endblock%}