{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    
    <div class="float-container">
        <img src="/static/img/minecraftmap.png" alt="basemap" usemap="#basemap" width="600" height="500">

        <map name="basemap">
            <area shape="rect" coords="0,0,250,50" href="/login" title="Swamp" alt="Swamp" target="_blank">
            <area shape="rect" coords="300,0,600,130" href="/login" title="Desert" alt="Desert" target="_blank">
            <area shape="rect" coords="0,75,280,250" href="/login" title="Forest1" alt="Forest1" target="_blank">
            <area shape="rect" coords="300,155,450,400" href="/login" title="Beach" alt="Beach" target="_blank">
            <area shape="rect" coords="0,260,150,400" href="/login" title="Forest2" alt="Forest2" target="_blank">
            <area shape="rect" coords="0,410,420,500" href="/login" title="Red desert" alt="Red desert" target="_blank">
        </map>
    </div>

</main>

{% endblock%}