{% extends '__smallmain.jinja' %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}

<main>
        <div>
        
            <button id="navrat" onclick="window.location.href='/account'">Zmena bola Uspesna - Pokracovat na Moj Ucet</button>
        
        </div>
</main>

{% endblock%}