{% extends '__smallmain.jinja' %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}

<main>
        <form method=post class="registerbox">
            {{ render_field(form.noveheslo) }}
            {{ render_field(form.heslo) }}
            <input type="submit" class="register" value="Zmenit Heslo">
        </form>

</main>

{% endblock%}