{% extends '__smallmain.jinja' %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}

<main>
        <form method=post class="registerbox">
            {{ render_field(form.nazov) }}
            {{ render_field(form.kolik) }}
            <input type="submit" class="register" value="Zmeň cenu energetických jednotek">
        </form>
</main>

{% endblock%}