{% extends '/__main.jinja' %}

{% block content %}
    <div class="float-container">
        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/space.jpg')}}">
        </div>

        <div class="sub-two-container">
        <p>
        V rámci blížiaceho sa exodu ľudstva spôsobeného jadrovou vojnou medzi Amerikou a Ruskom sa planéta stáva neobývateľnou.
        </p>

        <p>
        Ako najlepšie riešenie tohto problému vám ponúkame planétu Proxima B v trojhviezdnom systéme Alpha Centauri.
        </p>
        </div>
    </div>

    <section>
        <p>
        Neváhajte sa pripojiť k veľkému počtu ľudí, ktorí sa zaujímajú o najkrajší život po konci sveta, ktorý je nám známy.
        Naša spoločnosť ponúka najrozmanitejšiu škálu základní od krásnej podvodnej základne až po úžasnú základňu v Červenej púšti
        do krásnych ubytovacích priestorov v rozľahlých lesoch. 
        Na stránke nájdete všetky potrebné informácie pre vás a vašu rodinu, najmä pokiaľ ide o pravidlá ubytovania, či už na planéte
        alebo vo vesmírnej lodi používanej na prepravu na vami vybrané základne.
        Naša kapacita je obmedzená, zaregistrujte sa preto na našej stránke
        Čo najrýchlejšie a nezostávajú na bezprecedentnej planéte bez života.
        </p>
    </section>

    <div>
        <figure class="hoverwrap">
            <figcaption>
                O planéte
                <a href="{{url_for('view_about_us')}}#o_planete"><button>Viac</button></a>
            </figcaption>

            <img src="{{url_for('static', filename='img/planet_pic1.jpg')}}">
        </figure>

        <figure class="hoverwrap">
            <figcaption>
                Ubytovanie na planéte
                <a href="{{url_for('view_about_us')}}#ub_planete"><button>Viac</button></a>
            </figcaption>
            <img src="{{url_for('static', filename='img/home3.jpg')}}">
        </figure>

        <figure class="hoverwrap">
            <figcaption>
                Ubytovanie na lodi
                <a href="{{url_for('view_about_us')}}#ub_lodi"><button>Viac</button></a>
            </figcaption>
            <img src="{{url_for('static', filename='img/spaceship.jpg')}}">
        </figure>
    </div>


{% endblock%}