<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ProximaB</title>
    <link rel="stylesheet" href="structure.css" type="text/css">
    <link rel="stylesheet" href="colors.css" type="text/css">
</head>

<body>
    <div class="wrapper">

        <nav>
            <ul>
                <li>Home</li>
            </ul>
        </nav>

    </div>

    <main>

    <section>
        <h2>Nadpis</h2>
        <img src="{{url_for('static', filename='img/space.jpg')}}">
        <p>Lorem ipsum dolor sit amet consectetuer sit neque augue Curabitur Vivamus.
        Ipsum at ridiculus Fusce lobortis amet ornare nonummy Ut eleifend.
        </p>

        <p>Porttitor Sed eleifend nulla risus Curabitur non pretium non amet semper.
        Orci Praesent In eget Ut odio parturient sed Morbi ut urna. Id libero malesuada neque malesuada nonummy et.
        </p>


    </section>

    </main>

    <footer>
    <div>
      <h3>logo/obrazok?</h3>
    </div>

    <div class="copyright"></div>

    <div>
      <h3>Kontakt</h3>
    </div>
    </footer>

</body>

</html>