{% extends '/__main.jinja' %}

{% block content %}
    <div class="float-container">
        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/space.jpg')}}">
        </div>

        <div class="sub-two-container">
        <p>Lorem ipsum dolor sit amet consectetuer sit neque augue Curabitur Vivamus.
        Ipsum at ridiculus Fusce lobortis amet ornare nonummy Ut eleifend.
        </p>

        <p>Porttitor Sed eleifend nulla risus Curabitur non pretium non amet semper.
        Orci Praesent In eget Ut odio parturient sed Morbi ut urna. Id libero malesuada neque malesuada nonummy et.
        </p>
        </div>
    </div>

    <section>
        <p>
        Lorem ipsum dolor sit amet consectetuer sit neque augue Curabitur Vivamus.
        Ipsum at ridiculus Fusce lobortis amet ornare nonummy Ut eleifend.
        Porttitor Sed eleifend nulla risus Curabitur non pretium non amet semper.
        Orci Praesent In eget Ut odio parturient sed Morbi ut urna. Id libero malesuada
        neque malesuada nonummy et. Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latiliterature from 45 BC, making it over 2000 years old.
        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
        the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites
        of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        </p>
    </section>

    <div>
        <figure class="hoverwrap">
            <figcaption>
                O planéte
                <a href="{{url_for('view_about_us')}}"><button>Viac</button></a>
            </figcaption>

            <img src="{{url_for('static', filename='img/planet_pic1.jpg')}}">
        </figure>

        <figure class="hoverwrap">
            <figcaption>
                Ubytovanie na planéte
                <a href="{{url_for('view_about_us')}}"><button>Viac</button></a>
            </figcaption>
            <img src="{{url_for('static', filename='img/home3.jpg')}}">
        </figure>

        <figure class="hoverwrap">
            <figcaption>
                Ubytovanie na lodi
                <a href="{{url_for('view_about_us')}}"><button>Viac</button></a>
            </figcaption>
            <img src="{{url_for('static', filename='img/spaceship.jpg')}}">
        </figure>
    </div>

<section>
    <div id="heading2" class="anchor">
        <form>
            <h1>Prihlásenie</h1>
            <input type="name" name="" placeholder="Email:" required>
            <br>
            <input type="password" name="" placeholder="Heslo:" required>
            <br>
            <button class="login" >Prihlásiť sa</button>
            <button class="login"><a href="/register">Registrácia</a></button>
        </form>
    </div>
</section>

<section>
    <div id="heading3" class="anchor">
        <div class="registerbox">
        <form>
            <h1>Registrácia</h1>
            <input type="name" name="" placeholder="Meno:" required>
            <br>
            <input type="password" name="" placeholder="Priezvisko:" required>
            <br>
            <span>
            <input type="Pohlavie" name="" placeholder="Pohlavie:">
            <input type="radio" name="shipping" id="Muz" value="Pohlavie" required>
            <label for="Muz">Muž</label>
            </span>
            <span>
            <input type="radio" name="shipping" id="Zena" value="Pohlavie" required>
            <label for="Zena">Žena</label>
            </span>
            <span>
            <input type="radio" name="shipping" id="Ine" value="Pohlavie" required>
            <label for="Ine">Iné</label>
            </span>
            <br>
            <input type="name" name="" placeholder="Email:" required>
            <br>
            <input type="password" name="" placeholder="Heslo:" required>
            <br>
            <input type="password" name="" placeholder="Znovu heslo:" required>
            <br>
            <button class="register">Registrovať</button>
        </form>
        <a href="/login" class="backLogin">• späť na prihlásenie</a>
        </div>
    </div>
    </section>
{% endblock%}