{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    <div class="loginbox">
        <form>
            <input type="name" name="" placeholder="Email:" required>
            <br>
            <input type="password" name="" placeholder="Heslo:" required>
            <br>
            <button class="login" >Prihlásiť sa</button>
            <button class="login"><a href="/register">Registrácia</a></button>
        </form>
    </div>
</main>

{% endblock%}