{% extends '__smallmain.jinja' %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}

<section>
    <div class="loginbox">
        <form method=post>
            <h1>Prihlásenie</h1>
            {{ render_field(form.login) }}
            <br>
            {{ render_field(form.password) }}
            <br>
        </form>
            <a href="/myprofile"><button class="login">Prihlásiť sa</button></a>
            <a href="/register"><button class="login">Registrácia</button></a>
    </div>
</section>

{% endblock%}