{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    <div class="loginbox">
        <form>
            <input type="name" name="" placeholder="Meno:">
            <br>
            <input type="password" name="" placeholder="Heslo:">
            <br>
            <input type="submit" name="" value="Login">
            <a href="/register">Registruj se</a>
        </form>
    </div>
</main>

{% endblock%}