{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    <div class="profile">
        <img class="profile-img" src="/static/img/colony2.jpg"></img>
        <p class="profile-name">{{session['meno']}} {{session['priezvisko']}}</p>
    </div>
    
    <div class="float-container">
        <div class="sub-two-container">
        <img class="img1" src="{{url_for('static', filename='img/home8.png')}}">
        </div>

        <div class="sub-two-container">
        <p>
        Vaše úžasná základna je jedinečná svou polohou, můžete z ní spatřit úchvatné přírodní úkazy typické pouze pro lokalitu
        tohoto ubytovacího zařízení. Ale nejen tím je originální. Každá základna, stejně jako ta Vaše, má úplně jinou strukturu
        výrazně se líšící ode všech ostatních.
        </p>

        <p>
        Všetky aktivity je možné vykonávať na základni, ale predovšetkým by sme vám chceli odporučiť aktivitu, ktorá najviac pomôže
        s obnovou civilizácie. Určite sa vám bude páčiť.
        </p>
        </div>
    </div>

    <div class="spoluobyvatelia">
        <h1> Kto je s tebou na zakladni </h1>
        {% for user in RegUzivatelia if user.zakladne_id_zakladne == session['id_zakladne']%}
            <div>
                <p>{{user.meno}} {{user.priezvisko}} {{user.pohlavie}} {{user.email}}</p>
            </div>
        {% else %}
        <div>
        <p>Nikto neni na tvojej zakladni</p>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock%}