{% extends '__smallmain.jinja' %}

{% block content %}

<main>

    <div class="logout">

    <button onclick="window.location.href='/account'">Upraviť profil</button>

    {% if session['role'] == 1 %}
    <button id="newbase" onclick="window.location.href='/ultvlad'">Možnosti vladca</button>
    {% endif %}

    {% if session['role'] == 2 %}
    <button id="newbase" onclick="window.location.href='/basemap'">Možnosti vladca</button>
    {% endif %}

    <button id="logout" onclick="window.location.href='/logout'">Odhlásiť</button>
    </div>


    <div class="profile">
        <img class="profile-img" src="/static/img/colony2.jpg" onclick="window.location.href='/account'"></img>
        <p class="profile-name" onclick="window.location.href='/account'">{{session['meno']}} {{session['priezvisko']}}</p>
    </div>


    <div class="float-container">
        <div class="sub-two-container">
        <table>
            <thead>
            <tr>
                <th>Mapa základní</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                <button onclick="window.location.href='/basemap'">Viac</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>

        <div class="sub-two-container">
        <table>
            <thead>
            <tr>
                <th>Moja základňa</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                <button onclick="window.location.href='/mybase'">Viac</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>


</main>

{% endblock%}