{% extends '__smallmain.jinja' %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}

<main>
<div class="registerbox">
        <form method=post>
            {{ render_field(form.nazov) }}
            {{ render_field(form.stavej) }}
            {{ render_field(form.suradnica_x) }}
            {{ render_field(form.suradnica_y) }}
            {{ render_field(form.medzi_galakticke_kredity) }}
            <input type="submit" class="register" value="Pridať základnu">
        </form>
        </div>
</main>

{% endblock%}