{% extends '__smallmain.jinja' %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}

<section>
        <form class="registerbox">
            {{ render_field(form.meno) }}
            {{ render_field(form.priezvisko) }}
            {{ render_field(form.pohlavie) }}
            {{ render_field(form.email) }}
            {{ render_field(form.heslo) }}
            <button class="register">Registrovať</button>
        </form>
        <a href="/login" class="backLogin">• späť na prihlásenie</a>
</section>

{% endblock%}