{% extends '__smallmain.jinja' %}

{% block content %}

<main>
    <div class="registerbox">
        <form>
            <h1>Registrácia</h1>
            <input type="name" name="" placeholder="Meno:" required>
            <br>
            <input type="password" name="" placeholder="Priezvisko:" required>
            <br>
            <span>
            <input type="Pohlavie" name="" placeholder="Pohlavie:">
            <input type="radio" name="shipping" id="Muz" value="Pohlavie" required>
            <label for="Muz">Muz</label>
            </span>
            <span>
            <input type="radio" name="shipping" id="Zena" value="Pohlavie" required>
            <label for="Zena">Zena</label>
            </span>
            <span>
            <input type="radio" name="shipping" id="Ine" value="Pohlavie" required>
            <label for="Ine">Ine</label>
            </span>
            <br>
            <input type="name" name="" placeholder="Email:" required>
            <br>
            <input type="password" name="" placeholder="Heslo:" required>
            <br>
            <input type="password" name="" placeholder="Znovu heslo:" required>
            <br>
            <button class="register">Registrovat</button>
        </form>
        <a href="/login" class="backLogin">• spat na prihlasenie</a>
    </div>
</main>

{% endblock%}