{% extends '__smallmain.jinja' %}

{% block content %}

<main>

    <div class="moznostivladca">

    <button onclick="window.location.href='/ultvlad/usermove'">Presunut uzivatela</button>

    <button id="newbase" onclick="window.location.href='/ultvlad/newbase'">Nová zakladňa</button>

    <button id="logout" onclick="window.location.href='/ultvlad/namingvladca'">Jmenovat vladca</button>

    <button id="logout" onclick="window.location.href='/ultvlad/energprice'">Zmenit ceny energetickych jednotek</button>
    </div>



</main>

{% endblock%}