{% extends '__smallmain.jinja' %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}

<main>
        <form method=post class="registerbox">
            {{ render_field(form.email) }}
            {{ render_field(form.heslo) }}
            {{ render_field(form.zakladne_id_zakladne) }}
            <input type="submit" class="register" value="Premiestiť uživatela">
        </form>
</main>

{% endblock%}