{% extends '__smallmain.jinja' %}

{% block content %}

<main>

    <div class="moznostivladca">

    <button id="usermove" onclick="window.location.href='/vlad/zmena_udaju'">Zmena udajov uzivatela</button>

    </div>



</main>

{% endblock%}