<footer>
    <div>
      <h3>Footer</h3>
    </div>

    <div>
      <img class="logo2" src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
    </div>

    <div class="copyright"></div>
</footer>
